<h1>Książki</h1>
<ol>
  <li><%= link_to 'Wiedźmin Andrzej Sapkowski', wiedzmin_path %></li>
  <li><%= link_to 'Mroczna Wieża Stephen King',  mroczna_wieza_path%></li>
  <li><%= link_to 'Krótka historia czasu Stephen Hawking',historia_czasu_path %></li>
  <li><%= link_to 'Metro 2033 Dmitry Glukhovsky', metro_path %></li>
</ol>